apiVersion: apps/v1
kind: Deployment
metadata:
  name: backendapi
  labels:
    app: backendapi
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backendapi
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: backendapi
    spec:
      containers:
      - image: 359322168451.dkr.ecr.us-west-2.amazonaws.com/capstone:backend_api_v1.6
        imagePullPolicy: Always
        name: backendapi
        ports:
        - containerPort: 80
          protocol: TCP